<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="../public/css/style.css" />
</head>
<body>
<header class="topbar">
  <nav class="main-nav">
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Tableros</a></li>
      <li><a href="#">Mi perfil</a></li>
      <li><a href="#">Cerrar sesión</a></li>
    </ul>
  </nav>
</header>

  <aside class="sidebar">
  <h3>📊Mis tableros</h3>
  <h3>👥Administrador de Roles</h3>
</aside>

<div class="dashboard-container">
  <main class="kanban">
    <h2>¡Hola, Tatiana Cabrera!</h2>
    <section class="board">
      <div class="column pendiente">
        <h3>Pendientes <a href="descripcion-tarea.html" class="add-task">➕</a></h3>
        <div class="task-card">
          <p class="title">Dash Mensual Mitsui</p>
          <p class="fecha">📅 08-06-2025</p>
          <p class="prioridad">❗ Alta</p>
        </div>
                <div class="task-card">
          <p class="title">Dash Mensual La Colonia</p>
          <p class="fecha">📅 08-06-2025</p>
          <p class="prioridad">❗ Alta</p>
        </div>
      </div>

      <div class="column enprogreso">
        <h3>En Progreso <a href="descripcion-tarea.html" class="add-task">➕</a></h3>
        <div class="task-card">
          <p class="title">Revisión Interna</p>
          <p class="fecha">📅 08-06-2025</p>
          <p class="prioridad">⚠ Media</p>
        </div>
         <div class="task-card">
          <p class="title">Revisión con Cliene</p>
          <p class="fecha">📅 08-06-2025</p>
          <p class="prioridad">❗ Alta</p>
        </div>
      </div>

      <div class="column aprobadas">
        <h3>Aprobadas <a href="descripcion-tarea.html" class="add-task">➕</a></h3>
        <div class="task-card">
          <p class="title">Actualización Matriz</p>
          <p class="fecha">📅 08-06-2025</p>
          <p class="prioridad">✅ Baja</p>
        </div>
      </div>

      <div class="column terminadas">
        <h3>Terminadas <a href="descripcion-tarea.html" class="add-task">➕</a></h3>
        <div class="task-card">
          <p class="title">Presentación a cliente</p>
          <p class="fecha">📅 08-06-2025</p>
          <p class="prioridad">⚠ Media</p>
        </div>
      </div>
    </section>
  </main>
  </div>
</body>
</html>
