<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Inicio de Sesión</title>
  <link rel="stylesheet" href="../public/css/style.css" />
</head>
<body>
  <div class="login-container">
    <img src="../public/img/logo.jpeg" alt="Logo Ariadna" class="logo" />
    <h1>Bienvenido a Team Task Flow</h1>
    <form action="dashboard.html">
      <input type="text" placeholder="Correo electrónico" required />
      <input type="password" placeholder="Contraseña" required />
      <button type="submit">Iniciar Sesión</button>
    </form>
    <a href="#" class="forgot">¿Olvidó su contraseña?</a>
  </div>
</body>
</html>

